<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProfitTrailer Manager</title>

    <link rel="stylesheet" th:href="@{/app.css?} + ${randomNumber}"/>
</head>
<body class="bg-dark">
<div id="app">

    <navigation-component></navigation-component>
    <div class="container mt-3">
        <toggle-component></toggle-component>

        <bot-component></bot-component>
        <addon-component></addon-component>

    </div>
</div>

<script th:src="@{/app.js?} + ${randomNumber}"></script>
</body>
</html>