<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProfitTrailer Manager</title>

    <link rel="stylesheet" th:href="@{/app.css}"/>
</head>
<body>
<div id="app">
    <my-component></my-component>
    <div class="container mt-3">
        <p>Bot status <span th:text="${bot.status}"></span></p>

        <iframe th:src="${botUrl}" style="width:100%;height:100%">

        </iframe>
    </div>
</div>

<script th:src="@{/app.js}"></script>
</body>
</html>